body {
  background-color: #ffffff;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #27496d;
}

h3 {
  color: #27496d;
}
